# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Nuitka/PyInstaller build artifacts (ignore build/ but keep dist/)
build/

# Editors and IDEs
.vscode/
.idea/
*.swp

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Local config
*.env

# Avoid pushing raw .exe from random folders
*.exe
!SpecSheet.dist/**/*.exe

# Avoid pushing Compressed .zip File
*.zip

# Temp Restricted Files
assets/specSheetLogo.png
assets/specSheetLogoLight.png
